.menu__link{
    text-decoration: none;
    color: #808080;
    text-align: ce;
    margin-right: 1.25rem;
}

.menu__link:hover{
    text-decoration: underline;
}

.menu__link.activo{
    color: #333333;
}